.video-grid-container {
  padding: 20px;
  height: 100vh;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Rectangular card layout */
  gap: 12px; /* Reduced spacing between cards */
  margin-top: 20px;
}

.video-card {
  text-decoration: none;
  color: inherit;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.video-card img {
  width: 100%;
  height: 150px; /* Fixed height for rectangular shape */
  object-fit: cover;
  transition: transform 0.3s ease;
}

.video-card:hover img {
  transform: scale(1.50);
}

.video-card p {
  padding: 8px;
  margin: 0; /* Ensure title sticks with the image */
  text-align: center;
  font-weight: bold;
}





@media (max-width: 610px) {
  .video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Rectangular card layout */
  }

  .video-card img {
    width: 100%;
    height: 130px; /* Fixed height for rectangular shape */
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
}

@media (max-width: 552px) {
  .video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Rectangular card layout */
  }

  .video-card img {
    width: 100%;
    height: 110px; /* Fixed height for rectangular shape */
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
}

